@import '../../scss/vars';

.products {
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	
	&__items {
		max-width: 25%;
		width: 100%;
		padding: 43px 30px;
		border-right: 1px solid $red;
		@media (max-width: 768px) {
			border-right: none;
		}
	}
	
	&__item {
		border-right: 1px solid $red;
		@media (max-width: 768px) {
			border-right: none;
			border-bottom: 1px solid $red;
			
		}
	}
	
	&__titlebox {
		position: relative;
		
		h4 {
			text-transform: uppercase;
			color: $red;
			font-size: 33px;
			font-weight: 400;
			@media (max-width: 991px) {
				font-size: 22px;
			}
		}
		
		button {
			position: absolute;
			bottom: 30px;
			left: 30px;
			
			i {
				font-size: 34px;
				color: $red;
			}
		}
	}
	
	@media (max-width: 768px) {
		&__row {
			flex-direction: column;
		}
		
		&__items {
			max-width: 100%;
			text-align: center;
		}
	}
}