@import '../../scss/vars';

.offer {
	position: relative;
	text-align: center;
	background-color: $lightYellow;
	border-top: 1px solid $red;
	border-bottom: 1px solid $red;
	
	span {
		line-height: 56px;
		font-family: $Roboto;
		color: $red;
		font-size: 14px;
	}
	
	button {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		color: $red;
		cursor: pointer;
	}
}
